# MongoDB connection string
MONGOOSE_URL=""

# Resend email API key
RESEND_API_KEY=""

# NextAuth secret for authentication
NEXTAUTH_SECRET=""

# OpenRouter API credentials
OPENROUTER_API_KEY=""
OPENROUTE_URL="https://openrouter.ai/api/v1"

# Google OAuth credentials
CLIENT_ID=""
CLIENT_SECRET=""